name: Main Workflow

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, lint and test
      run: |
        npm ci
        npm run lint --if-present
        npm run build --if-present        
        npm run test --if-present
      env:
        CI: true
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./dist/coverage/zawgyi-unicode-translit-rules/lcov.info
        flags: unit
